*{
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	width: 100%;
	background-image: url(bg.jpg);
	/*background-color: #1a1a1a;*/
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.ln{
	margin-top: 5%;
	text-align: center;
	color: white;
	font-weight: 600;
	font-size: 35px;
}

.lbox{
	margin-top: 6%;
	margin-left: 40%;
	align-content: center;
	justify-content: center;
	padding: 20px;
	height: 300px;
	width: 280px;
	box-shadow: 3px 3px 30px #5606A8;

}

.lbox .lh{
	color: white;
	margin-bottom: 30px;
}

.lbox .lp{
	font-weight: bold;
	font-size: 25px;
	color: #AA63F4;
	line-height: 45px;
}

input[type="text"],[type="password"],input[type="email"]{
	font-size: 20px;
	width: 250px;
	height: 25px;
}

input[type="submit"]{
	margin-left: 20px;
	margin-top: 9px;
	height: 40px;
	width: 80px;
	background-color: #5606A8;
	color: white;
	text-align: center;
	font-size: 15px;
	font-weight: 800;
	border-radius: 45%;

}

.lbox .la{
	margin-left: 70px;
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-weight: 800;
}

.wrapper .bar{
	margin-left: 1%;
	position: fixed;
	left: 0;
	top: 0;
	width: 25%;
	height: 100%;
	background-color: #410380;
}

.wrapper .bar h2{
	color: white;
	text-align: center;
	line-height: 100px;
	border-bottom: 5px solid white;
	margin-bottom: 50px;
}

.wrapper .bar ul li{
	list-style: none;
	padding: 20px;
	border-bottom: 1px solid white;
}

.wrapper .bar i{
	margin-right: 7px;
}

.wrapper .bar a{
	text-decoration: none;
	color: white;
}

.wrapper .bar ul li:hover{
	background-color: #320362;
}

.wrapper .content{
	width: 73%;
	margin-left: 27%;
}

.wrapper .content h1{
	margin-left: 10%;
	padding-top:5%;
	color: white;"
}

.wrapper .content .backbox{
	margin-top: 14%;
	margin-left: 30%;
	width: 310px;
	height: 420px;
	background-size: cover;
	border-radius: 40px;
	box-shadow: 3px 3px 30px #5606A8;
}
.wrapper .content .playlist{
	display: flex; 
    justify-content: space-around;
	margin-top: 8%;
	/*margin-left: 5%;
	height: 50%;*/
	width: 80%;
	
}

.wrapper .content .imga{
	text-decoration: none;
	color: white;
	font-size: 18px;
	margin-top: 3%;
	margin-bottom: 2%;
	margin-left: 24%;

}

.wrapper .content .imgs{
	
	width: 190px;
	height: 190px;
	background-size: cover;
	margin-top: 5%;
	margin-left: 20%;
	border-radius: 10%;
	box-shadow: 7px 7px  7px 2px #5606A8;
}


#songTitle{
	width: 300px;
	text-align: center;
	font-family: monospace;
	font-size: 25px;
	margin-left: 150px;
	margin-top: 50px;
	margin-bottom: 30px;
	transform: translate(-50%, -50%);
	color: #e6e6e6
}

#songTitle p{
	font-size: 20px;
	color: #8c8c8c
}

#seek-bar{
	width: 80%;
	height: 5px;
	background: grey;
	display: flex;
	border-radius: 50px;
	cursor: pointer;
	margin-top: 0px;
	margin-left: 10%
}

#fill{
	height: 5px;
	background: linear-gradient(#671EB1,#966DC1);
	border-radius: 20px
}

#handle{
	width: 10px;
	height: 10px;
	background: #1a1a1a;
	border-radius: 50%;
	margin-left: -5px;
	transform: scale(2);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -3px
}

#handle:before{
	width: 4px;
	height: 4px;
	position: absolute;
	z-index: 1;
	content: '';
	background: #5606A8;
	border-radius: 50%;
}
#player{
	padding: 25px;
	color: #333
}
#buttons{
	height: 50px;
	width: 100%;
	margin-top: 20px;
	position: relative;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#play,#next,#pre{
	width: 50px;
	height: 50px;
    border: 0;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#next{
	background: #404040;
	width: 45px;
	height: 45px;
	left: 72%;
	box-shadow: 2px 3px 5px #262626;
}

#pre{
	background: #404040;
	width: 45px;
	height: 45px;
	left:28%;
	box-shadow: 2px 3px 5px #262626;
}

.play{
	background: #5606A8 url(Play.png);
	background-size: cover;
	background-position: center;
	box-shadow: 0 0 5px ##5606A8,
	            2px 3px 5px #262626,
	            15px 15px 15px rgba(0,0,0,.1),
	            inset -5px -5px 5px #5606A8,
	            inset 5px 5px 5px #5606A8;

}

.pause{
	background: #5606A8 url(Pause.png);
	background-size: cover;
	background-position: center;
	box-shadow: 0 0 5px #5606A8,
	            2px 3px 5px #262626,
	            15px 15px 15px rgba(0,0,0,.1),
	            inset -5px -5px 5px #5606A8,
	            inset 5px 5px 5px #5606A8;

}

.wrapper .content .playbox{
	margin-left: 2%;
	margin-top: 25%;
}

.abt{
	margin-top: 5%;
	color: white;
	padding-right:50%;
	font-size: 23px ;
}

.stc{
	margin-top: 3%;
	color: white;
	margin-left:10%;
	font-size: 20px;	
}
